# Development environments
.idea/
.venv/
.env

#Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data and generated results
data/
outputs/
**/outputs/
**/outputs_short/
/src/otputs_short/

# Operating-system files
.DS_Store
Thumbs.db